<h1>Hi, my name's Flo! ^___^</h1>
<p>I'm from Cerritos, CA (SoCal) and I'm a junior.</p>
<p>Fun fact: Looking at the sun tends to make me sneeze :(</p>
<p>I'm excited to build cool things in Rails!</p>